*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* Banner styles */
.banner-container{
    height: 100vh;
    width: 100%;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}
.banner-items{
    padding-top: 200px;
    padding-right: 200px;
    padding-left: 700px;
}
.banner-title{
    font-size: 60px;
    font-weight: 700;
    
}
.banner-discription{
    font-size: 15px;
    font-weight: 400;
    color: #757575;
}
/* Bonus section */
.bonus-section{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.about-info{
    height: 400px;
    width: 800px;
    margin-top: 60px;
    padding: 50px;
}
.info-heading{
    font-size: 50px;
    text-decoration: underline gray;
}
.info-description{
    font-size: 25px;
    font-weight: 400;
    color: #757575;
    margin-top: 20px;
}
.about-img{
    margin-top: 100px;
}
/* article section styles */
.article-container{
    display: flex;
    gap: 100px;
    padding: 200px;
    align-items: center;
}
.article-title{
    font-size: 50px;
    
}
.article-description{
    font-size: 20px;
    color: #757575;
    margin: 30px 0;
}
.article-li{
    list-style: none;
    font-size: 15px;
    color: #6d6767;
}
/* My-plan-section */
.my-plan-container{
    text-align: center;
    padding: 50px;
}
.my-plan-heading{
    font-size: 40px;
    font-weight: 400;
}
.my-plan-item{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 50px 0;
}
.plan-title{
    font-size: 30px;
    font-weight: 400;
}
.plan-description{
    font-size: 25px;
    font-weight: 400;
    color: #6d6767;
}
/* gradient section */
.gradient-container{
    padding: 50px 220px;
}
.gradient-item{
    height: 220px;
    background-image: url(../images/watch.png), linear-gradient(90deg, rgba(246, 81, 21, 0.973) , rgba(0, 0, 0, 0.082) 100%);
    background-blend-mode: overlay;
    background-size: cover;
    border-radius: 10px;
}
.gradient-title{
    font-size: 35px;
    font-weight: 600;
    color: white;
    padding-top: 25px;
    margin-left: 60px;
}
.gradient-btn{
    align-items: center;
    margin-left: 60px;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: orangered;
}
/* footer section */
